html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow: hidden; }

body {
  overflow: hidden;
  position: static; }

h1 {
  font-family: 'EB Garamond', cursive;
  font-size: 2.1em;
  color: black;
  margin: 0px;
  padding: 20px 10px 0; }

.link {
  color: #00bcd4;
  cursor: pointer; }

.font-sm {
  font-size: .85em; }

#menuBtn {
  z-index: 100;
  padding-top: 20px;
  padding-left: 20px; }

@media (max-width: 769px) {
  #menuBtn {
    display: none; }
  #drawer {
    display: none; }
  #dots {
    position: absolute; }
  html {
    overflow-y: scroll; }
  #mobileIntro {
    text-align: center;
    background-color: #e9e9e9;
    padding: 10px 20px; }
  h1 {
    padding: 0 10px 0; }
  #mobileOutro {
    position: fixed;
    bottom: 0;
    background-color: #e9e9e9;
    padding: 10px;
    font-size: .8em;
    width: 100%;
    text-align: center;
    margin: 0px; } }

@media (min-width: 769px) {
  #mobileIntro {
    display: none; }
  #mobileOutro {
    display: none; } }
