.raisedButton {
  display: block;
  margin-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

#clearIcon {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 0 0;
}
